<h1>Edit a Landmark</h1>

<form action="/landmarks/<%= @landmark.id %>" method='POST'>
  <input type="hidden" name="_method" value="PATCH">
  <input type='text' placeholder='Rename your landmark' value= "<%= @landmark.name %>" id = "name" name='landmark[name]' /><br>
  <input type='text' placeholder='Update year completed(XXXX)' value= "<%= @landmark.year_completed.to_s %>" id = "year_completed" name='landmark[year_completed]' /><br>

  <input type='submit' value="Edit Landmark" />
</form>
